<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
		<connectionStrings>
			<add name="Test"
				 connectionString="Data Source=DESKTOP-DGD9QGL;Initial Catalog=LawHouseDB;Integrated Security=True;"/>

			<add name="Michael"
				 connectionString="Server=; Database=Michael-PC; Integrated Security=True;"/>

			<add name="Matias"
				 connectionString="Server=DESKTOP-BO1PTSK; Database=LawHouseDB;Integrated Security=True;"/>

			<add name="MatiasHome"
				connectionString="Data Source=DESKTOP-DGD9QGL;Initial Catalog=LawHouseDB;Integrated Security=True;"/>

			<add name="Kasper"
				 connectionString="Server= ; Database= ; Integrated Security=True;"/>

		</connectionStrings>
	
</configuration>